.button{
    color: white;
    background-color: rgb(24, 128, 128);
    font-size: 20px;
    padding: 18px;
    border: none;

}
.button:hover{
    color: darkblue;
    background-color: darksalmon;
}